@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
html,body{
  font-family: 'Poppins', Courier, monospace;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.brand-holder{
  padding: 0.4em 0;
}
.nav-header{
  background: #000000 !important;
}
.nav-list-spacing{
  margin: 0 1.5em;
  font-weight: bolder;
  padding-bottom: 0.7em;
}
.banner-slide{
  object-fit: cover;
}
.main-banner {
  position: relative;
}
#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.video-overlay {
  position: absolute;
  background-color: rgba(35,45,57,0.8);
  top: 0;
  left: 0;
  bottom: 7px;
  width: 100%;
}
#bg-video::-webkit-media-controls {
  display: none !important;
}
.caption {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  letter-spacing: 0.5px;
}
.caption h2 {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 84px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}
.caption h2 em {
  font-style: normal;
  color: #ed563b;
  font-weight: 900;
}

@media (max-width: 450px) {
  .caption h6 {
    font-size: 1em;
  }
  .caption h2 {
    font-size: 2.5em;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/

/* .js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232d39;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@-webkit-keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
      -webkit-transform: translateX(96px);
      transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
      -webkit-transform: translateX(-31px);
      transform: translateX(-31px);
  }
}

.preloader-inner {
  position: relative;
  width: 142px;
  height: 40px;
  background: #232d39;
}

.preloader-inner .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
  animation: dot 2.8s infinite;
}

.preloader-inner .dots {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
  animation: dots 2.8s infinite;
}

.preloader-inner .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  background: #fff;
  border-radius: 50%;
} */
/* 